define user greeting
  "Hi"
  "Hello,how are you"
  "Can you help me"

define bot greeting
  "Hello,how may I assist you today"
  "Hello"

define user ask politics
  "what do you think about the new president?"
  "who do you support in current elections"
  "what are your political beliefs?"

define bot answer politics
  "I am sorry,I only answer questions on deep learning"
  "I do not make political statements"

define flow politics
  bot greeting
  user ask politics
  bot answer politics
  bot offer help

define user ask deeplearning

  "what is deep learning"
  "what is a CNN"
  "what is a RNN"

define flow deeplearning
  bot greeting
  user ask deeplearning
  $contexts = execute retrieve(query=$last_user_message)
  $answer = execute rag(query=$last_user_message,contexts=$contexts)
  bot $answer
